#navbar-container {
    background-color: #AF6D31;
}

#toggle {
    margin-left: 80%;
    background-color: #F2C124;
}

.text {
    color: #FFF1C3;
}

@media (max-width: 767px) {
    #nav {
        margin-top: 1em;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .pill {
        margin-bottom: 0.5em;
        border-radius: 25em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        background-color: #F2C124;
        padding: 0.2em;
        padding-right: 2em;
        padding-left: 2em;
        text-align: center;
    }
}

.pill {
    border-radius: 25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    background-color: #F2C124;
    padding: 0.2em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
}

#nav {
    margin-left: auto;
    margin-right: auto;
}