#navbar-container {
    background-color: #AF6D31;
}

#toggle {
    margin-left: 80%;
    background-color: #F2C124;
}

.text {
    color: #4f2906;
}

@media (max-width: 767px) {
    #nav {
        margin-top: 1em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .pill {
        margin-bottom: 1em;
        border-radius: 0.5em;
        margin-left: auto;
        margin-right: auto;
        background-color: #F2C124;
        padding: 0.2em;
        padding-right: 2em;
        padding-left: 2em;
        text-align: center;
    }
    .pill:hover {
        background-color: #ffcc2b;
    }
}

.pill {
    border-radius: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    background-color: #F2C124;
    padding: 0.2em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
    width: 10em;
}

.pill:hover {
    background-color: #ffcc2b;
}

#nav {
    margin-left: auto;
    margin-right: auto;
}

.my-navlink {
    color: #663D18;
    background-color: #ffcc2b;
}