@font-face {
    font-family: Dodge;
    src: url(fonts/DODGE.ttf);
  }
  
.ft-dodge {
    font-family: Dodge;
}

.bar {
  height: 0.2em;
  width: 100%;
  background-color: #4f2906;
}

.page-bg {
  background-color: #FFF1C3;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

.page-title {
  color: #F2C124;
  text-shadow: 0.1em 0.1em #876D1B;
  font-size: 1.75em;
  margin-bottom: 1.5em;
  text-align: center;
}

.page-text {
  font-size: 1em;
  color: #663D18;
}

@media (max-width: 767px) {
  .page-text {
    font-size: 0.9em;
    color: #663D18;
  }
}
